@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --shadow-md: 0 0px 15px rgba(0 0 0 / 0.04), 0 0px 2px rgba(0 0 0 / 0.06);
  --shadow-lg: 0 0px 20px rgba(0 0 0 / 0.04), 0 0px 5px rgba(0 0 0 / 0.06);
  --shadow-xl: 0 0px 30px rgba(0 0 0 / 0.04), 0 0px 10px rgba(0 0 0 / 0.06);
  --shadow-3xl: 0 0 50px rgba(0 0 0 / 0.02), 0 0 50px rgba(0 0 0 / 0.04);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-volts-50: var(--volts-50);
  --color-volts-100: var(--volts-100);
  --color-volts-200: var(--volts-200);
  --color-volts-300: var(--volts-300);
  --color-volts-400: var(--volts-400);
  --color-volts-500: var(--volts-500);
  --color-volts-600: var(--volts-600);
  --color-volts-700: var(--volts-700);
  --color-volts-800: var(--volts-800);
  --color-volts-900: var(--volts-900);
  --color-volts-950: var(--volts-950);
}

:root {
  --font-sans: "Geist", sans-serif;

  --radius: 0.625rem;

  --background: var(--color-gray-50);
  --foreground: var(--color-gray-900);

  --card: var(--color-white);
  --card-foreground: var(--foreground);

  --popover: var(--color-white);
  --popover-foreground: var(--foreground);

  --primary: var(--color-yellow-500);
  --primary-foreground: var(--color-white);

  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--foreground);

  --muted: var(--color-gray-100);
  --muted-foreground: var(--color-gray-500);

  --accent: var(--color-gray-100);
  --accent-foreground: var(--foreground);

  --input: var(--color-white);
  --input-foreground: var(--color-gray-950);

  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-gray-200);
  --ring: var(--primary);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: var(--color-gray-100);
  --sidebar-foreground: var(--color-gray-500);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--color-white);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--primary);

  --volts-50: hsl(233, 5%, 85%);
  --volts-100: hsl(233, 5%, 79%);
  --volts-200: hsl(233, 5%, 68%);
  --volts-300: hsl(233, 5%, 62%);
  --volts-400: hsl(233, 5%, 52%);
  --volts-500: hsl(233, 5%, 46%);
  --volts-600: hsl(233, 5%, 24%);
  --volts-700: hsl(233, 5%, 12%);
  --volts-800: hsl(233, 5%, 9.5%);
  --volts-900: hsl(233, 5%, 6.5%);
  --volts-950: hsl(233, 5%, 3%);

  --gray-50: oklch(0.985 0.002 247.839);
  --gray-100: oklch(0.967 0.003 264.542);
  --gray-200: oklch(0.928 0.006 264.531);
  --gray-300: oklch(0.872 0.01 258.338);
  --gray-400: oklch(0.707 0.022 261.325);
  --gray-500: oklch(0.551 0.027 264.364);
  --gray-600: oklch(0.446 0.03 256.802);
  --gray-700: oklch(0.373 0.034 259.733);
  --gray-800: oklch(0.278 0.033 256.848);
  --gray-900: oklch(0.21 0.034 264.665);
  --gray-950: oklch(0.13 0.028 261.692);
}

.dark {
  --background: var(--volts-950);
  --foreground: var(--volts-50);

  --card: var(--volts-800);
  --card-foreground: var(--volts-50);

  --popover: var(--volts-900);
  --popover-foreground: var(--volts-50);

  --primary: var(--color-yellow-500);
  --primary-foreground: var(--color-yellow-950);

  --secondary: var(--volts-900);
  --secondary-foreground: var(--volts-50);

  --muted: var(--volts-700);
  --muted-foreground: var(--volts-500);

  --accent: var(--volts-800);
  --accent-foreground: var(--volts-50);

  --input: var(--volts-800);
  --input-foreground: var(--color-white);

  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--volts-700);
  --ring: var(--primary);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: var(--volts-950);
  --sidebar-foreground: var(--volts-500);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--volts-900);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--volts-700);
  --sidebar-ring: var(--primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;

    text-rendering: optimizeLegibility;
  }
}
